In [1]:
from data import *
from Solver import *
from redcap import *
import time as t
import pygeoda as pg
import pickle as pkl

In [2]:
global_results = pd.read_pickle('../data/comparison_parameters.pkl')
western_results = pd.read_pickle('../data/western_results.pkl')
#western_results = pd.DataFrame(columns=['n_nodes','states','k','min_counties','z','sc','min_size','heterogeneity','size_regions','regions','n_columns','n_partitions','n_cuts','FiO edges','FuO edges','Sort FuO edges','MST','Tree arch','select regions','column generation'])

In [3]:
redcap_results = pd.read_pickle('../data/redcap_results.pkl')#pd.DataFrame(columns=['n_nodes','states','k','heterogeneity','size_regions','regions','time'])

In [4]:
USA_vote_2004 = pd.read_pickle('../data/USA_vote_2004.pkl')
FullO_file = open("../data/USA_vote_2004_FullO.pkl", "rb")
FullO = pkl.load(FullO_file)
dist = pd.read_csv('../data/USA_vote_2004_dist.csv',index_col=0)
dist.columns = dist.columns.astype(int)
neighbors_file = open('../data/USA_vote_2004_neighbors.pkl','rb')
neighbors = pkl.load(neighbors_file)
edges_file = open('../data/USA_vote_2004_edges.pkl','rb')
edges = pkl.load(edges_file)

In [5]:
western_vote_2004 = pd.read_pickle('../data/western_vote_2004.pkl')
western_FullO_file = open("../data/western_vote_2004_FullO.pkl", "rb")
western_FullO = pkl.load(western_FullO_file)
western_dist = pd.read_csv('../data/western_vote_2004_dist.csv',index_col=0)
western_dist.columns = western_dist.columns.astype(int)
western_neighbors_file = open('../data/western_vote_2004_neighbors.pkl','rb')
western_neighbors = pkl.load(western_neighbors_file)
western_edges_file = open('../data/western_vote_2004_edges.pkl','rb')
western_edges = pkl.load(western_edges_file)

In [10]:
def evaluate(graph,k,min_counties,limit_depth,z,sc,min_size,n_best,output,n_nodes,states,talk=False):
    t1 = t.time()
    graph.SCT.find_regions(min_counties, limit_depth, z, sc, 0,n_best,min_size=min_size,talk=talk)
    t2 = t.time()
    graph.times['column generation'] = t2-t1
    h, x = graph.select_k_regions(k)
    output.loc[len(output)] = [n_nodes,states,k,min_counties,limit_depth,z,sc,min_size,n_best,h,[len(r) for r in x],x,len(graph.SCT.dict_regions),graph.SCT.n_partitions,graph.SCT.n_cuts,graph.times['FiO edges'],graph.times['FuO edges'],graph.times['Sort FuO edges'],graph.times['SCT'],graph.times['Tree arch'],graph.times['select regions'],graph.times['column generation']]
    regions = graph.SCT.dict_regions
    he = graph.SCT.dict_he
    arch = graph.SCT.arch
    graph.SCT.clear()
    return regions,he,arch

def comparate_param(states,n_regions,min_counties,limit_depth,z,sc,min_size,n_best,output,param,talk=False):
    graph, n_nodes = None, 0
    res = []
    if states =='western':
        n_nodes = len(western_vote_2004)
        graph = Graph(western_vote_2004.set_index('county_fips',drop=True),['bush_votes_perc'],full_order=(western_FullO,western_dist))
        graph.SCT = Tree(graph.vertex,western_neighbors,western_edges,0,None)
        graph.times['FuO edges'],graph.times['Sort FuO edges'],graph.times['SCT'],graph.times['Tree arch'] = 0.0, 0.0, 0.0, 0.0
    elif states == 'all':
        n_nodes = len(USA_vote_2004)
        graph = Graph(USA_vote_2004.set_index('county_fips',drop=True),['bush_votes_perc'],full_order=(FullO,dist))
        graph.SCT = Tree(graph.vertex,neighbors,edges,0,None)
        graph.times['FuO edges'],graph.times['Sort FuO edges'],graph.times['SCT'],graph.times['Tree arch'] = 0.0, 0.0, 0.0, 0.0
    else:
        data = percentage_bush_2004(states)
        n_nodes = len(data)
        graph = Graph(data.set_index('county_fips',drop=True),['bush_votes_perc'])
        SCT = graph.find_SCT_full_order_CL()
    if param == 'k':
        for k in n_regions:
            res.append(evaluate(graph,k,min_counties,limit_depth,z,sc,min_size,n_best,output,n_nodes,states,talk=talk))
            print('k = '+str(k)+ ' done')
    elif param == 'min_part':
        for min_c in min_counties:
            res.append(evaluate(graph,n_regions,min_c,limit_depth,z,sc,min_size,n_best,output,n_nodes,states,talk=talk))
            print('min_part = '+str(min_c)+ ' done')
    elif param == 'w':
        for size_z in z:
            res.append(evaluate(graph,n_regions,min_counties,limit_depth,size_z,sc,min_size,n_best,output,n_nodes,states,talk=talk))
            print('w = '+str(size_z)+ ' done')
    elif param == 'sc':
        for sc_val in sc:
            res.append(evaluate(graph,n_regions,min_counties,limit_depth,z,sc_val,min_size,n_best,output,n_nodes,states,talk=talk))
            print('sc = '+str(sc_val)+ ' done')
    elif param == 'min_size':
        for min_s in min_size:
            res.append(evaluate(graph,n_regions,min_counties,limit_depth,z,sc,min_s,n_best,output,n_nodes,states,talk=talk))
            print('min_size = '+str(min_s)+ ' done')
    elif param == 'max_depth':
        for depth in limit_depth:
            res.append(evaluate(graph,n_regions,min_counties,depth,z,sc,min_size,n_best,output,n_nodes,states,talk=talk))
            print('max_depth = '+str(depth)+ ' done')
    elif param == 'n_best':
        for n in n_best:
            res.append(evaluate(graph,n_regions,min_counties,limit_depth,z,sc,min_size,n,output,n_nodes,states,talk=talk))
            print('n_best = '+str(n)+ ' done')
    return res

In [52]:
def evaluate_redcap(states,k,output,method="fullorder-completelinkage"):
    data = percentage_bush_2004(states)
    n_nodes = len(data)
    h, regions, t = redcap(data,k,talk=True)
    output.loc[len(output)] = [n_nodes,states,method,k,h,[len(regions[x]) for x in regions.keys()],regions,t]

# Test with California State

## k = 5

In [8]:
comparate_param(['CALIFORNIA'],5,[1,3,5,10],1,10,global_results,2)

C:\Users\ngolenvaux\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

min_counties = 1 done
min_counties = 3 done
min_counties = 5 done
min_counties = 10 done

In [10]:
comparate_param(['CALIFORNIA'],5,5,1,[5,10,20,40],global_results,4)

sc = 5 done
sc = 10 done
sc = 20 done
sc = 40 done

In [13]:
comparate_param(['CALIFORNIA'],5,[5,10,20],2,10,global_results,2)

min_counties = 5 done
min_counties = 10 done
min_counties = 20 done

In [16]:
comparate_param(['CALIFORNIA'],5,10,2,[5,10,20,40],global_results,4)

sc = 5 done
sc = 10 done
sc = 20 done
sc = 40 done

In [25]:
comparate_param(['CALIFORNIA'],5,10,3,[10],global_results,4)

sc = 10 done

In [12]:
evaluate_redcap(['CALIFORNIA'],5,redcap_results)

start redcap
end redcap 0.008975744247436523
redcap total heterogeneity :  0.22954071285603542

C:\Users\ngolenvaux\Anaconda3\lib\site-packages\numpy\core\_asarray.py:102: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return array(a, dtype, copy=False, order=order)

## k = 10

In [ ]:
comparate_param(['CALIFORNIA'],10,[3,5,10],1,10,global_results,2)

In [20]:
comparate_param(['CALIFORNIA'],10,5,1,[3,5,10,20],global_results,4)

sc = 3 done
sc = 5 done
sc = 10 done
sc = 20 done

In [22]:
comparate_param(['CALIFORNIA'],10,[3,5,10],2,10,global_results,2)

min_counties = 3 done
min_counties = 5 done
min_counties = 10 done

In [23]:
comparate_param(['CALIFORNIA'],10,5,2,[3,5,10,20],global_results,4)

sc = 3 done
sc = 5 done
sc = 10 done
sc = 20 done

In [13]:
evaluate_redcap(['CALIFORNIA'],10,redcap_results)

start redcap
end redcap 0.007010698318481445
redcap total heterogeneity :  0.12115486320241955

# Test with 5 westerns states

In [28]:
print('start data preparation')
t1 = t.time()
USA_vote_2004 = percentage_bush_2004(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'])
t2 = t.time()
print('end data preparation '+ str(t2-t1))
print('number of nodes: '+ str(len(USA_vote_2004)))

start data preparation
end data preparation 1.1240785121917725
number of nodes: 193

## k = 10

In [36]:
comparate_param(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],10,[10,20,40],1,10,global_results,2)

min_counties = 10 done
min_counties = 20 done
min_counties = 40 done

In [38]:
comparate_param(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],10,20,1,[5,10,20],global_results,4)

sc = 5 done
sc = 10 done
sc = 20 done

In [40]:
comparate_param(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],10,[20,40],2,10,global_results,2)

min_counties = 20 done
min_counties = 40 done

In [43]:
comparate_param(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],10,40,2,[5,20,40],global_results,4)

sc = 5 done
sc = 20 done
sc = 40 done

In [15]:
evaluate_redcap(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],10,redcap_results)

start redcap
end redcap 0.02501845359802246
redcap total heterogeneity :  0.6183821682399695

## k=5

In [46]:
comparate_param(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],5,[20,40,80],1,10,global_results,2)

min_counties = 20 done
min_counties = 40 done
min_counties = 80 done

In [48]:
comparate_param(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],5,40,1,[5,10,20],global_results,4)

sc = 5 done
sc = 10 done
sc = 20 done

In [49]:
comparate_param(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],5,[40,80],2,10,global_results,2)

min_counties = 40 done
min_counties = 80 done

In [51]:
comparate_param(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],5,80,2,[5,20,40],global_results,4)

sc = 5 done
sc = 20 done
sc = 40 done

In [16]:
evaluate_redcap(['CALIFORNIA','WASHINGTON','OREGON','IDAHO','NEVADA'],5,redcap_results)

start redcap
end redcap 0.02469635009765625
redcap total heterogeneity :  1.3064570319460636

# Test with 11 western States

## k=10

In [18]:
arch = comparate_param('western',10,0.05,8,[(1.0,2),(0.2,1)],[(1.0,100),(0.4,50),(0.2,30)],[(1.0,0.1),(0.3,0.1),(0.2,0.0)],[2,5],western_results,'n_best',talk=True)

Node 0 of size 409 and depth = 0
time to find 2 best cuts with sc = 100 : 0.6648976802825928
time to create 2 new trees : 0.004780292510986328
children of node 0 are : [1, 2, 3, 4]

Node 1 of size 276 and depth = 1
time to find 2 best cuts with sc = 100 : 0.2921028137207031
time to create 2 new trees : 0.0026695728302001953
children of node 1 are : [5, 6, 7, 8]

Node 5 of size 183 and depth = 2

Node 6 of size 93 and depth = 2

Node 7 of size 90 and depth = 2

Node 8 of size 186 and depth = 2

Node 2 of size 133 and depth = 1
time to find 2 best cuts with sc = 50 : 0.1244349479675293
time to create 2 new trees : 0.0009999275207519531
children of node 2 are : [715, 716, 717, 718]

Node 715 of size 98 and depth = 2

Node 716 of size 35 and depth = 2

Node 717 of size 36 and depth = 2

Node 718 of size 97 and depth = 2

Node 3 of size 135 and depth = 1
time to find 2 best cuts with sc = 50 : 0.12902283668518066
time to create 2 new trees : 6.413459777832031e-05
children of node 3 are : [995, 996, 997, 998]

Node 995 of size 98 and depth = 2

Node 996 of size 37 and depth = 2

Node 997 of size 38 and depth = 2

Node 998 of size 97 and depth = 2

Node 4 of size 274 and depth = 1
time to find 2 best cuts with sc = 100 : 0.2805609703063965
time to create 2 new trees : 0.0019350051879882812
children of node 4 are : [1271, 1272, 1273, 1274]

Node 1271 of size 181 and depth = 2

Node 1272 of size 93 and depth = 2

Node 1273 of size 90 and depth = 2

Node 1274 of size 184 and depth = 2
n_best = 2 done

Node 0 of size 409 and depth = 0
time to find 2 best cuts with sc = 100 : 0.6732335090637207
time to create 2 new trees : 0.005036115646362305
children of node 0 are : [1, 2, 3, 4]

Node 1 of size 276 and depth = 1
time to find 2 best cuts with sc = 100 : 0.2868692874908447
time to create 2 new trees : 0.0023326873779296875
children of node 1 are : [5, 6, 7, 8]

Node 5 of size 183 and depth = 2

Node 6 of size 93 and depth = 2

Node 7 of size 173 and depth = 2

Node 8 of size 103 and depth = 2

Node 2 of size 133 and depth = 1
time to find 2 best cuts with sc = 50 : 0.1312088966369629
time to create 2 new trees : 0.0009653568267822266
children of node 2 are : [813, 814, 815, 816]

Node 813 of size 98 and depth = 2

Node 814 of size 35 and depth = 2

Node 815 of size 3 and depth = 2

Node 816 of size 130 and depth = 2

Node 3 of size 279 and depth = 1
time to find 2 best cuts with sc = 100 : 0.3711724281311035
time to create 2 new trees : 0.0032317638397216797
children of node 3 are : [1103, 1104, 1105, 1106]

Node 1103 of size 186 and depth = 2

Node 1104 of size 93 and depth = 2

Node 1105 of size 176 and depth = 2

Node 1106 of size 103 and depth = 2

Node 4 of size 130 and depth = 1
time to find 2 best cuts with sc = 50 : 0.12361454963684082
time to create 2 new trees : 0.0
children of node 4 are : [1977, 1978, 1979, 1980]

Node 1977 of size 3 and depth = 2

Node 1978 of size 127 and depth = 2

Node 1979 of size 33 and depth = 2

Node 1980 of size 97 and depth = 2
n_best = 5 done

In [25]:
arch = comparate_param('western',10,0.05,[4,5],[(1.0,3),(0.2,1)],[(1.0,100),(0.4,50),(0.2,30)],[(1.0,0.1),(0.3,0.1),(0.2,0.0)],5,western_results,'max_depth',talk=True)

Node 0 of size 409 and depth = 0
time to find 3 best cuts with sc = 100 : 0.674335241317749
time to create 3 new trees : 0.007019519805908203
children of node 0 are : [1, 2, 3, 4, 5, 6]

Node 1 of size 276 and depth = 1
time to find 3 best cuts with sc = 100 : 0.29337382316589355
time to create 3 new trees : 0.003003358840942383
children of node 1 are : [7, 8, 9, 10, 11, 12]

Node 7 of size 183 and depth = 2

Node 8 of size 93 and depth = 2

Node 9 of size 173 and depth = 2

Node 10 of size 103 and depth = 2

Node 11 of size 90 and depth = 2

Node 12 of size 186 and depth = 2

Node 2 of size 133 and depth = 1
time to find 3 best cuts with sc = 50 : 0.12840771675109863
time to create 3 new trees : 0.0015711784362792969
children of node 2 are : [419, 420, 421, 422, 423, 424]

Node 419 of size 98 and depth = 2

Node 420 of size 35 and depth = 2

Node 421 of size 3 and depth = 2

Node 422 of size 130 and depth = 2

Node 423 of size 120 and depth = 2

Node 424 of size 13 and depth = 2

Node 3 of size 279 and depth = 1
time to find 3 best cuts with sc = 100 : 0.267132043838501
time to create 3 new trees : 0.0039975643157958984
children of node 3 are : [661, 662, 663, 664, 665, 666]

Node 661 of size 186 and depth = 2

Node 662 of size 93 and depth = 2

Node 663 of size 176 and depth = 2

Node 664 of size 103 and depth = 2

Node 665 of size 183 and depth = 2

Node 666 of size 96 and depth = 2

Node 4 of size 130 and depth = 1
time to find 3 best cuts with sc = 50 : 0.13103437423706055
time to create 3 new trees : 0.0010330677032470703
children of node 4 are : [1093, 1094, 1095, 1096, 1097, 1098]

Node 1093 of size 3 and depth = 2

Node 1094 of size 127 and depth = 2

Node 1095 of size 33 and depth = 2

Node 1096 of size 97 and depth = 2

Node 1097 of size 117 and depth = 2

Node 1098 of size 13 and depth = 2

Node 5 of size 273 and depth = 1
time to find 3 best cuts with sc = 100 : 0.3000500202178955
time to create 3 new trees : 0.0026731491088867188
children of node 5 are : [1327, 1328, 1329, 1330, 1331, 1332]

Node 1327 of size 180 and depth = 2

Node 1328 of size 93 and depth = 2

Node 1329 of size 170 and depth = 2

Node 1330 of size 103 and depth = 2

Node 1331 of size 90 and depth = 2

Node 1332 of size 183 and depth = 2

Node 6 of size 136 and depth = 1
time to find 3 best cuts with sc = 50 : 0.1438579559326172
time to create 3 new trees : 0.0020012855529785156
children of node 6 are : [1739, 1740, 1741, 1742, 1743, 1744]

Node 1739 of size 98 and depth = 2

Node 1740 of size 38 and depth = 2

Node 1741 of size 123 and depth = 2

Node 1742 of size 13 and depth = 2

Node 1743 of size 35 and depth = 2

Node 1744 of size 101 and depth = 2
max_depth = 4 done

Node 0 of size 409 and depth = 0
time to find 3 best cuts with sc = 100 : 0.9022550582885742
time to create 3 new trees : 0.007004261016845703
children of node 0 are : [1, 2, 3, 4, 5, 6]

Node 1 of size 276 and depth = 1
time to find 3 best cuts with sc = 100 : 0.2897813320159912
time to create 3 new trees : 0.0050373077392578125
children of node 1 are : [7, 8, 9, 10, 11, 12]

Node 7 of size 183 and depth = 2

Node 8 of size 93 and depth = 2

Node 9 of size 173 and depth = 2

Node 10 of size 103 and depth = 2

Node 11 of size 90 and depth = 2

Node 12 of size 186 and depth = 2

Node 2 of size 133 and depth = 1
time to find 3 best cuts with sc = 50 : 0.1454784870147705
time to create 3 new trees : 0.0020012855529785156
children of node 2 are : [1037, 1038, 1039, 1040, 1041, 1042]

Node 1037 of size 98 and depth = 2

Node 1038 of size 35 and depth = 2

Node 1039 of size 3 and depth = 2

Node 1040 of size 130 and depth = 2

Node 1041 of size 120 and depth = 2

Node 1042 of size 13 and depth = 2

Node 3 of size 279 and depth = 1
time to find 3 best cuts with sc = 100 : 0.3789346218109131
time to create 3 new trees : 0.004033088684082031
children of node 3 are : [1545, 1546, 1547, 1548, 1549, 1550]

Node 1545 of size 186 and depth = 2

Node 1546 of size 93 and depth = 2

Node 1547 of size 176 and depth = 2

Node 1548 of size 103 and depth = 2

Node 1549 of size 183 and depth = 2

Node 1550 of size 96 and depth = 2

Node 4 of size 130 and depth = 1
time to find 3 best cuts with sc = 50 : 0.15465855598449707
time to create 3 new trees : 0.0022199153900146484
children of node 4 are : [2611, 2612, 2613, 2614, 2615, 2616]

Node 2611 of size 3 and depth = 2

Node 2612 of size 127 and depth = 2

Node 2613 of size 33 and depth = 2

Node 2614 of size 97 and depth = 2

Node 2615 of size 117 and depth = 2

Node 2616 of size 13 and depth = 2

Node 5 of size 273 and depth = 1
time to find 3 best cuts with sc = 100 : 0.3860459327697754
time to create 3 new trees : 0.004151582717895508
children of node 5 are : [3113, 3114, 3115, 3116, 3117, 3118]

Node 3113 of size 180 and depth = 2

Node 3114 of size 93 and depth = 2

Node 3115 of size 170 and depth = 2

Node 3116 of size 103 and depth = 2

Node 3117 of size 90 and depth = 2

Node 3118 of size 183 and depth = 2

Node 6 of size 136 and depth = 1
time to find 3 best cuts with sc = 50 : 0.22193670272827148
time to create 3 new trees : 0.0009317398071289062
children of node 6 are : [4129, 4130, 4131, 4132, 4133, 4134]

Node 4129 of size 98 and depth = 2

Node 4130 of size 38 and depth = 2

Node 4131 of size 123 and depth = 2

Node 4132 of size 13 and depth = 2

Node 4133 of size 35 and depth = 2

Node 4134 of size 101 and depth = 2
max_depth = 5 done

In [26]:
western_results

,n_nodes,states,k,min_counties,limit_depth,z,sc,min_size,n_best,heterogeneity,...,n_columns,n_partitions,n_cuts,FiO edges,FuO edges,Sort FuO edges,MST,Tree arch,select regions,column generation
0,409,western,10,0.05,8.0,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",2.0,2.286126,...,1873,811,936,0.218384,0.0,0.0,0.0,0.0,3.496062,73.776776
1,409,western,10,0.05,8.0,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",5.0,2.262209,...,2213,889,1106,0.218384,0.0,0.0,0.0,0.0,4.155568,84.076801
2,409,western,10,0.05,8.0,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",10.0,2.262209,...,2175,920,1087,0.199247,0.0,0.0,0.0,0.0,4.357796,87.366841
3,409,western,10,0.05,8.0,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",20.0,2.289468,...,2299,963,1149,0.199247,0.0,0.0,0.0,0.0,4.326592,100.068100
4,409,western,10,0.05,4.0,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",5.0,2.517692,...,379,127,189,0.212531,0.0,0.0,0.0,0.0,1.017905,12.646353
5,409,western,10,0.05,5.0,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",5.0,2.262209,...,681,245,340,0.212531,0.0,0.0,0.0,0.0,1.588780,24.621708
6,409,western,10,0.05,6.0,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",5.0,2.262209,...,1103,421,551,0.212531,0.0,0.0,0.0,0.0,2.763567,42.370447
7,409,western,10,0.05,7.0,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",5.0,2.262209,...,1637,641,818,0.212531,0.0,0.0,0.0,0.0,3.889375,71.812114
8,409,western,10,0.05,4.0,"[(1.0, 3), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",5.0,2.517692,...,1965,500,982,0.215142,0.0,0.0,0.0,0.0,6.598539,52.875654
9,409,western,10,0.05,5.0,"[(1.0, 3), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.1), (0.3, 0.1), (0.2, 0.0)]",5.0,2.262209,...,4567,1279,2283,0.215142,0.0,0.0,0.0,0.0,13.858817,155.966902

In [30]:
western_results.to_pickle('../data/western_results.pkl')

In [29]:
evaluate_redcap(western_states,10,redcap_results)

start redcap
end redcap 0.07655715942382812
redcap total heterogeneity :  2.2832425329715433

# Test with all US States

## k=10

In [45]:
arch = comparate_param('all',10,0.005,[5,6],[(1.0,2),(0.2,1)],[(1.0,100)],[(1.0,0.0)],5,global_results,'max_depth',talk=True)

Node 0 of size 3083 and depth = 0
time to find 2 best cuts with sc = 100 : 29.696672916412354
time to create 2 new trees : 0.25537729263305664
children of node 0 are : [1, 2, 3, 4]

Node 1 of size 1126 and depth = 1
time to find 2 best cuts with sc = 100 : 8.106165170669556
time to create 2 new trees : 0.051993608474731445
children of node 1 are : [5, 6, 7, 8]

Node 5 of size 681 and depth = 2

Node 6 of size 445 and depth = 2

Node 7 of size 309 and depth = 2

Node 8 of size 817 and depth = 2

Node 2 of size 1957 and depth = 1
time to find 2 best cuts with sc = 100 : 15.653839588165283
time to create 2 new trees : 0.14347481727600098
children of node 2 are : [135, 136, 137, 138]

Node 135 of size 1305 and depth = 2

Node 136 of size 652 and depth = 2

Node 137 of size 1339 and depth = 2

Node 138 of size 618 and depth = 2

Node 3 of size 1967 and depth = 1
time to find 2 best cuts with sc = 100 : 15.264518737792969
time to create 2 new trees : 0.11698579788208008
children of node 3 are : [405, 406, 407, 408]

Node 405 of size 1315 and depth = 2

Node 406 of size 652 and depth = 2

Node 407 of size 1349 and depth = 2

Node 408 of size 618 and depth = 2

Node 4 of size 1116 and depth = 1
time to find 2 best cuts with sc = 100 : 7.802258729934692
time to create 2 new trees : 0.05605340003967285
children of node 4 are : [677, 678, 679, 680]

Node 677 of size 681 and depth = 2

Node 678 of size 435 and depth = 2

Node 679 of size 309 and depth = 2

Node 680 of size 807 and depth = 2
max_depth = 5 done

Node 0 of size 3083 and depth = 0
time to find 2 best cuts with sc = 100 : 28.671054124832153
time to create 2 new trees : 0.2462937831878662
children of node 0 are : [1, 2, 3, 4]

Node 1 of size 1126 and depth = 1
time to find 2 best cuts with sc = 100 : 7.695855617523193
time to create 2 new trees : 0.04719400405883789
children of node 1 are : [5, 6, 7, 8]

Node 5 of size 681 and depth = 2

Node 6 of size 445 and depth = 2

Node 7 of size 309 and depth = 2

Node 8 of size 817 and depth = 2

Node 2 of size 1957 and depth = 1
time to find 2 best cuts with sc = 100 : 14.942373037338257
time to create 2 new trees : 0.15337395668029785
children of node 2 are : [195, 196, 197, 198]

Node 195 of size 1305 and depth = 2

Node 196 of size 652 and depth = 2

Node 197 of size 1339 and depth = 2

Node 198 of size 618 and depth = 2

Node 3 of size 1967 and depth = 1
time to find 2 best cuts with sc = 100 : 16.53240728378296
time to create 2 new trees : 0.14463114738464355
children of node 3 are : [719, 720, 721, 722]

Node 719 of size 1315 and depth = 2

Node 720 of size 652 and depth = 2

Node 721 of size 1349 and depth = 2

Node 722 of size 618 and depth = 2

Node 4 of size 1116 and depth = 1
time to find 2 best cuts with sc = 100 : 8.20268177986145
time to create 2 new trees : 0.05998659133911133
children of node 4 are : [1249, 1250, 1251, 1252]

Node 1249 of size 681 and depth = 2

Node 1250 of size 435 and depth = 2

Node 1251 of size 309 and depth = 2

Node 1252 of size 807 and depth = 2
max_depth = 6 done

In [44]:
Tree.clear(Tree)

In [17]:
evaluate_redcap('all',10,redcap_results)

C:\Users\ngolenvaux\Documents\Doctorat\Regionalization\Regionalization_models\src\data.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2004['bush_votes_perc'] = df_2004['candidatevotes'] / df_2004['totalvotes']

start redcap
end redcap 0.8467926979064941
redcap total heterogeneity :  21.53039473787621

In [53]:
evaluate_redcap('all',10,redcap_results,method="fullorder-averagelinkage")

C:\Users\ngolenvaux\Documents\Doctorat\Regionalization\Regionalization_models\src\data.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2004['bush_votes_perc'] = df_2004['candidatevotes'] / df_2004['totalvotes']

start redcap
end redcap 0.9240856170654297
redcap total heterogeneity :  21.53039473787621

In [49]:
redcap_results.insert(2,'method',["fullorder-completelinkage" for _ in range(len(redcap_results))])

In [46]:
global_results.loc[50:]

,n_nodes,states,k,min_counties,max_depth,z,sc,min_size,n_best,heterogeneity,...,n_columns,n_partitions,n_cuts,FiO edges,FuO edges,Sort FuO edges,MST,Tree arch,select regions,column generation
50,193,"[CALIFORNIA, WASHINGTON, OREGON, IDAHO, NEVADA]",5,80,None,2,20,0.0,None,1.306457,...,41,10,20,0.088343,6.652561,0.022336,0.920932,0.010211,0.130467,1.142926
51,193,"[CALIFORNIA, WASHINGTON, OREGON, IDAHO, NEVADA]",5,80,None,2,40,0.0,None,1.306457,...,41,10,20,0.088343,6.652561,0.022336,0.920932,0.010211,0.123629,1.564219
52,3083,all,10,100,None,1,50,0.0,None,21.530395,...,263,131,131,1.469064,1636.840292,10.358184,116.588271,0.477663,2.858063,571.967105
53,3083,all,10,300,None,1,50,0.0,None,21.738180,...,115,57,57,1.469064,1636.840292,10.358184,116.588271,0.477663,2.266970,542.948879
54,3083,all,10,500,None,1,50,0.0,None,21.738180,...,63,31,31,1.469064,1636.840292,10.358184,116.588271,0.477663,1.759164,498.533915
55,3083,all,10,200,None,1,10,0.0,None,22.914511,...,61,30,30,1.410364,1752.552082,10.153550,116.603161,0.497046,1.081937,291.193209
56,3083,all,10,200,None,1,30,0.0,None,22.636286,...,99,49,49,1.410364,1752.552082,10.153550,116.603161,0.497046,1.380502,291.877214
57,3083,all,10,200,None,1,100,0.0,None,21.530395,...,177,88,88,1.410364,1752.552082,10.153550,116.603161,0.497046,2.924498,719.866165
58,3083,all,10,1000,None,2,10,0.0,None,23.555772,...,408660,102209,204420,1.420640,1617.541746,10.259073,138.109255,0.348486,2943.210090,703.047169
59,3083,all,10,1000,None,2,50,0.0,None,24.669719,...,1533,383,766,1.420351,1688.738044,10.355141,115.788785,0.422962,43.519545,8650.308966
60,3083,all,10,500,None,2,10,0.0,None,23.797965,...,541,135,270,1.968544,2524.204719,15.225795,199.730784,0.565223,14.813522,1742.754726
61,3083,all,10,500,None,2,15,0.0,None,23.502672,...,709,177,354,2.102832,2330.682467,12.953453,168.268785,0.512995,18.068428,1957.959541
62,3083,all,10,400,None,2,10,0.0,None,23.236806,...,1041,260,520,2.182734,2334.464770,13.083964,164.840186,0.511261,22.181513,1872.390843
63,3083,all,10,300,None,2,10,0.0,None,23.190106,...,2465,616,1232,2.067166,2379.380280,13.080873,165.545069,0.571948,41.375833,2244.149848
64,3083,all,10,400,None,"[(0, 2)]",2,0.0,None,24.909589,...,1,153,306,1.613729,0.000000,0.000000,0.000000,0.000000,11.086292,1073.435444
65,3083,all,10,400,None,"[(0, 2)]",3,0.0,None,25.851187,...,1,245,490,1.613729,0.000000,0.000000,0.000000,0.000000,19.130481,1686.966890
66,3083,all,10,400,None,"[(0, 4), (2, 2)]",2,0.0,None,27.083106,...,1,910,1838,1.612324,0.000000,0.000000,0.000000,0.000000,65.989466,6088.034530
67,3083,all,10,400,None,"[(0, 2)]",2,0.0,None,24.909589,...,613,153,306,1.519993,0.000000,0.000000,0.000000,0.000000,12.369642,1092.547541
68,3083,all,10,400,None,"[(0, 2)]",2,0.0,None,24.909589,...,613,153,306,1.591777,0.000000,0.000000,0.000000,0.000000,11.685425,27.730640
69,3083,all,10,200,None,"[(0, 2)]",2,0.0,None,24.797077,...,3077,769,1538,1.512146,0.000000,0.000000,0.000000,0.000000,34.314174,59.902038
70,3083,all,10,400,None,"[(0, 2)]",5,0.0,None,24.398121,...,28893,7223,14446,1.539531,0.000000,0.000000,0.000000,0.000000,768.345265,2440.585946
71,3083,all,10,400,None,"[(0, 2)]",10,0.0,None,23.236806,...,1041,260,520,1.539531,0.000000,0.000000,0.000000,0.000000,18.798571,194.821080
72,3083,all,10,400,None,"[(1.0, 2)]","[(1.0, 2), (0.4, 5)]",0.0,None,24.363845,...,565,141,282,4.004858,0.000000,0.000000,0.000000,0.000000,9.490830,47.085684
73,3083,all,10,200,None,"[(1.0, 3), (0.4, 2), (0.2, 1)]","[(1.0, 2), (0.4, 5), (0.2, 10)]",0.0,None,23.879555,...,3269,1503,1634,1.546114,0.000000,0.000000,0.000000,0.000000,42.065094,350.607426
74,3083,all,10,200,None,"[(1.0, 3), (0.4, 2), (0.2, 1)]","[(1.0, 50), (0.4, 5), (0.2, 10)]",0.0,None,21.924777,...,74507,33788,37253,2.082959,0.000000,0.000000,0.000000,0.000000,1136.862204,13008.573100
75,3083,all,10,200,None,"[(1.0, 2), (0.4, 2), (0.2, 1)]","[(1.0, 50), (0.4, 5), (0.2, 10)]",0.0,None,22.040081,...,18041,8273,9020,1.924323,0.000000,0.000000,0.000000,0.000000,281.454392,3464.611373
76,3083,all,10,200,None,"[(1.0, 2), (0.4, 2), (0.2, 1)]","[(1.0, 50), (0.4, 5), (0.2, 10)]",0.05,None,22.040081,...,17757,8131,8878,1.924323,0.000000,0.000000,0.000000,0.000000,329.991746,3328.923825
77,3083,all,10,300,None,"[(1.0, 10), (0.8, 3), (0.4, 2), (0.2, 4)]","[(1.0, 100), (0.8, 2), (0.2, 2)]",0.0,None,24.154976,...,345061,43320,172530,2.020022,0.000000,0.000000,0.000000,0.000000,4189.612944,6850.913854
78,3083,all,10,200,None,"[(1.0, 2), (0.4, 2), (0.2, 1)]","[(1.0, 50), (0.4, 5), (0.2, 10)]",0.1,None,22.585751,...,621,285,310,1.602257,0.000000,0.000000,0.000000,0.000000,8.896290,130.019206
79,3083,all,10,200,None,"[(1.0, 2), (0.4, 2), (0.2, 1)]","[(1.0, 50), (0.4, 5), (0.2, 10)]",0.2,None,22.886070,...,613,273,306,1.602257,0.000000,0.000000,0.000000,0.000000,7.994125,118.736256
80,3083,all,10,200,None,"[(1.0, 2), (0.4, 2), (0.2, 1)]","[(1.0, 100), (0.4, 20), (0.2, 10)]",0.1,None,22.585751,...,823,371,411,1.520409,0.000000,0.000000,0.000000,0.000000,10.459235,196.336910
81,3083,all,10,200,None,"[(1.0, 2), (0.4, 2), (0.2, 1)]","[(1.0, 100), (0.4, 20), (0.2, 10)]",0.2,None,22.886070,...,1049,463,524,1.520409,0.000000,0.000000,0.000000,0.000000,13.757827,230.907163
82,3083,all,10,200,None,"[(1.0, 2), (0.4, 2), (0.2, 1)]","[(1.0, 100), (0.4, 20), (0.2, 10)]",0.1,None,22.537254,...,819,369,409,1.553808,0.000000,0.000000,0.000000,0.000000,10.033941,188.676689
83,3083,all,10,200,None,"[(1.0, 2), (0.4, 2), (0.2, 1)]","[(1.0, 100), (0.4, 20), (0.2, 10)]",0.2,None,22.837572,...,1073,475,536,1.553808,0.000000,0.000000,0.000000,0.000000,16.052826,229.911097
84,3083,all,10,200,None,"[(1.0, 2), (0.4, 2), (0.2, 1)]","[(1.0, 100), (0.4, 20), (0.2, 30)]",0.1,None,22.326895,...,1295,607,647,1.506728,0.000000,0.000000,0.000000,0.000000,14.926312,574.759132
85,3083,all,10,200,None,"[(1.0, 5), (0.8, 3), (0.4, 2), (0.2, 1)]","[(1.0, 100), (0.8, 50), (0.4, 40), (0.2, 30)]",0.2,None,22.496650,...,13989,6490,6994,1.581177,0.000000,0.000000,0.000000,0.000000,176.354416,6266.271223
86,3083,all,10,0.1,10,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",None,22.675879,...,2233,845,1116,1.525552,0.000000,0.000000,0.000000,0.000000,44.943243,1229.659364
87,3083,all,10,0.1,12,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",None,22.675879,...,3221,1315,1610,1.525552,0.000000,0.000000,0.000000,0.000000,61.028997,1899.343511
88,3083,all,10,0.05,8,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",None,22.599716,...,1909,751,954,1.522372,0.000000,0.000000,0.000000,0.000000,30.134024,833.600386
89,3083,all,10,0.05,10,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",None,22.599716,...,3121,1289,1560,1.522372,0.000000,0.000000,0.000000,0.000000,54.617267,1493.684809
90,3083,all,10,0.05,8,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",5,22.348654,...,1949,761,974,5.631880,0.000000,0.000000,0.000000,0.000000,94.210511,2278.341162
91,3083,all,10,0.05,8,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",10,22.390116,...,1733,688,866,5.631880,0.000000,0.000000,0.000000,0.000000,81.931851,2591.289733
92,3083,all,10,0.05,4,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",5,22.348654,...,359,135,179,2.270273,0.000000,0.000000,0.000000,0.000000,8.507941,272.065613
93,3083,all,10,0.05,5,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",5,22.348654,...,585,223,292,2.270273,0.000000,0.000000,0.000000,0.000000,11.551719,430.059015
94,3083,all,10,0.05,6,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",5,22.348654,...,907,352,453,2.270273,0.000000,0.000000,0.000000,0.000000,14.427633,580.754712
95,3083,all,10,0.05,7,"[(1.0, 2), (0.2, 1)]","[(1.0, 100), (0.4, 50), (0.2, 30)]","[(1.0, 0.2), (0.3, 0.1), (0.2, 0.0)]",5,22.348654,...,1345,521,672,2.270273,0.000000,0.000000,0.000000,0.000000,21.389986,775.812218
96,3083,all,10,0.05,5,"[(1.0, 2), (0.2, 1)]","[(1.0, 100)]","[(1.0, 0.1), (0.2, 0.0)]",5,22.061082,...,549,197,274,1.823044,0.000000,0.000000,0.000000,0.000000,11.080245,559.546747
97,3083,all,10,0.02,5,"[(1.0, 2), (0.2, 1)]","[(1.0, 100)]","[(1.0, 0.1), (0.2, 0.0)]",5,21.722550,...,745,295,372,1.823044,0.000000,0.000000,0.000000,0.000000,19.691355,657.023360
98,3083,all,10,0.02,5,"[(1.0, 2)]","[(1.0, 100)]","[(1.0, 0.0)]",5,21.415091,...,1829,457,914,1.605906,0.000000,0.000000,0.000000,0.000000,27.479962,1663.837266
99,3083,all,10,0.02,5,"[(1.0, 2), (0.2, 1)]","[(1.0, 100)]","[(1.0, 0.0)]",5,21.415091,...,631,238,315,5.762422,0.000000,0.000000,0.000000,0.000000,38.564175,2138.275089
100,3083,all,10,0.005,5,"[(1.0, 2), (0.2, 1)]","[(1.0, 100)]","[(1.0, 0.0)]",5,21.415091,...,803,324,401,2.300688,0.000000,0.000000,0.000000,0.000000,16.906891,1380.687576
101,3083,all,10,0.005,6,"[(1.0, 2), (0.2, 1)]","[(1.0, 100)]","[(1.0, 0.0)]",5,21.415091,...,1433,575,716,2.300688,0.000000,0.000000,0.000000,0.000000,31.296516,2444.970121

In [55]:
redcap_results

,n_nodes,states,method,k,heterogeneity,size_regions,regions,time
0,58,[CALIFORNIA],fullorder-completelinkage,5,0.229541,"[22, 8, 12, 10, 6]","{1: [6093, 6015, 6049, 6105, 6089, 6035, 6103,...",0.008976
1,58,[CALIFORNIA],fullorder-completelinkage,10,0.121155,"[20, 2, 4, 4, 9, 4, 5, 1, 6, 3]","{1: [6093, 6015, 6105, 6089, 6103, 6063, 6007,...",0.007011
2,193,"[CALIFORNIA, WASHINGTON, OREGON, IDAHO, NEVADA]",fullorder-completelinkage,10,0.618382,"[27, 24, 22, 45, 4, 1, 50, 8, 6, 6]","{3: [53019, 53065, 53047, 53051, 16021, 16017,...",0.025018
3,193,"[CALIFORNIA, WASHINGTON, OREGON, IDAHO, NEVADA]",fullorder-completelinkage,5,1.306457,"[49, 80, 50, 8, 6]","{3: [53019, 53065, 53047, 53051, 16021, 16017,...",0.024696
4,3083,all,fullorder-completelinkage,10,21.530395,"[1162, 71, 445, 212, 88, 398, 55, 359, 282, 11]","{1: [27077, 38079, 38095, 38019, 38067, 27069,...",0.846793
5,409,"[CALIFORNIA, NEVADA, ARIZONA, OREGON, WASHINGT...",fullorder-completelinkage,10,2.283243,"[81, 12, 35, 97, 1, 91, 35, 43, 8, 6]","{3: [53019, 53065, 53047, 53051, 16021, 30053,...",0.076557
6,3083,all,fullorder-averagelinkage,10,21.530395,"[1162, 71, 445, 212, 88, 398, 55, 359, 282, 11]","{1: [27077, 38079, 38095, 38019, 38067, 27069,...",0.924086

In [47]:
global_results.to_pickle('../data/comparison_parameters.pkl')

In [54]:
redcap_results.to_pickle('../data/redcap_results.pkl')

In [27]:
sum(global_results['size_regions'][67])

4376

## Class Hierarchy

In [20]:
from treelib import Node
from treelib import Tree as Treerep
def create_hierarchy(regions,he,arch):
    hier = {}
    def create_node(index,parent,depth):
        kids = []
        if index in arch:
            kids = [create_node(i,index,depth+1) for i in arch[index]]
        node = Hierarchy(index,regions[index],he[index],kids,parent,depth)
        hier[index] = node
        return node
    root = create_node(0,None,0)
    return hier, root

In [21]:
class Hierarchy:
    def __init__(self, index, regions, he, kids = [], parent = None, depth = 0):
        self.index = index
        self.regions = regions
        self.size = len(regions)
        self.he = he
        self.kids = kids
        self.depth = depth
        self.n = None
        self.maxd = None
        
    def subnodes(self):
        if self.n is None:
            s = 0
            for kid in self.kids:
                s += 1 + kid.subnodes()
            self.n = s
        return self.n
    
    def maxdepth(self):
        if self.maxd is None:
            if self.kids == []:
                self.maxd = 0
            else:
                depths = []
                for kid in self.kids:
                    depths.append(kid.maxdepth())
                self.maxd = 1 + max(depths)
        return self.maxd
    
    def show(self,deep):
        tree = Treerep()
        self.iter_show(deep,tree,None)
        return tree.show()
        
    def iter_show(self,deep,tree,parent):
        tree.create_node((self.size,self.subnodes(),self.maxdepth()),self.index,parent=parent)
        if deep > 0:
            for kid in self.kids:
                kid.iter_show(deep-1,tree,self.index)

In [22]:
hier, root = create_hierarchy(arch[0][0],arch[0][1],arch[0][2])

In [23]:
root.subnodes()

1286

In [24]:
root.maxdepth()

16

In [25]:
root.show(5)

(3083, 1286, 16)
├── (1125, 48, 4)
│   ├── (440, 6, 3)
│   │   ├── (18, 0, 0)
│   │   └── (422, 4, 2)
│   │       ├── (67, 0, 0)
│   │       └── (355, 2, 1)
│   │           ├── (174, 0, 0)
│   │           └── (181, 0, 0)
│   ├── (444, 6, 3)
│   │   ├── (18, 0, 0)
│   │   └── (426, 4, 2)
│   │       ├── (67, 0, 0)
│   │       └── (359, 2, 1)
│   │           ├── (174, 0, 0)
│   │           └── (185, 0, 0)
│   ├── (681, 16, 3)
│   │   ├── (283, 2, 1)
│   │   │   ├── (136, 0, 0)
│   │   │   └── (147, 0, 0)
│   │   ├── (286, 2, 1)
│   │   │   ├── (136, 0, 0)
│   │   │   └── (150, 0, 0)
│   │   ├── (395, 4, 2)
│   │   │   ├── (127, 0, 0)
│   │   │   └── (268, 2, 1)
│   │   │       ├── (84, 0, 0)
│   │   │       └── (184, 0, 0)
│   │   └── (398, 4, 2)
│   │       ├── (130, 0, 0)
│   │       └── (268, 2, 1)
│   │           ├── (84, 0, 0)
│   │           └── (184, 0, 0)
│   └── (685, 16, 3)
│       ├── (283, 2, 1)
│       │   ├── (136, 0, 0)
│       │   └── (147, 0, 0)
│       ├── (286, 2, 1)
│       │   ├── (136, 0, 0)
│       │   └── (150, 0, 0)
│       ├── (399, 4, 2)
│       │   ├── (131, 0, 0)
│       │   └── (268, 2, 1)
│       │       ├── (84, 0, 0)
│       │       └── (184, 0, 0)
│       └── (402, 4, 2)
│           ├── (134, 0, 0)
│           └── (268, 2, 1)
│               ├── (84, 0, 0)
│               └── (184, 0, 0)
├── (1126, 48, 4)
│   ├── (441, 6, 3)
│   │   ├── (19, 0, 0)
│   │   └── (422, 4, 2)
│   │       ├── (67, 0, 0)
│   │       └── (355, 2, 1)
│   │           ├── (174, 0, 0)
│   │           └── (181, 0, 0)
│   ├── (445, 6, 3)
│   │   ├── (19, 0, 0)
│   │   └── (426, 4, 2)
│   │       ├── (67, 0, 0)
│   │       └── (359, 2, 1)
│   │           ├── (174, 0, 0)
│   │           └── (185, 0, 0)
│   ├── (681, 16, 3)
│   │   ├── (283, 2, 1)
│   │   │   ├── (136, 0, 0)
│   │   │   └── (147, 0, 0)
│   │   ├── (286, 2, 1)
│   │   │   ├── (136, 0, 0)
│   │   │   └── (150, 0, 0)
│   │   ├── (395, 4, 2)
│   │   │   ├── (127, 0, 0)
│   │   │   └── (268, 2, 1)
│   │   │       ├── (84, 0, 0)
│   │   │       └── (184, 0, 0)
│   │   └── (398, 4, 2)
│   │       ├── (130, 0, 0)
│   │       └── (268, 2, 1)
│   │           ├── (84, 0, 0)
│   │           └── (184, 0, 0)
│   └── (685, 16, 3)
│       ├── (283, 2, 1)
│       │   ├── (136, 0, 0)
│       │   └── (147, 0, 0)
│       ├── (286, 2, 1)
│       │   ├── (136, 0, 0)
│       │   └── (150, 0, 0)
│       ├── (399, 4, 2)
│       │   ├── (131, 0, 0)
│       │   └── (268, 2, 1)
│       │       ├── (84, 0, 0)
│       │       └── (184, 0, 0)
│       └── (402, 4, 2)
│           ├── (134, 0, 0)
│           └── (268, 2, 1)
│               ├── (84, 0, 0)
│               └── (184, 0, 0)
├── (1957, 586, 15)
│   ├── (651, 54, 9)
│   │   ├── (293, 10, 5)
│   │   │   ├── (11, 0, 0)
│   │   │   └── (282, 8, 4)
│   │   │       ├── (13, 0, 0)
│   │   │       └── (269, 6, 3)
│   │   ├── (297, 10, 5)
│   │   │   ├── (11, 0, 0)
│   │   │   └── (286, 8, 4)
│   │   │       ├── (13, 0, 0)
│   │   │       └── (273, 6, 3)
│   │   ├── (354, 14, 7)
│   │   │   ├── (3, 0, 0)
│   │   │   └── (351, 12, 6)
│   │   │       ├── (14, 0, 0)
│   │   │       └── (337, 10, 5)
│   │   └── (358, 16, 8)
│   │       ├── (3, 0, 0)
│   │       └── (355, 14, 7)
│   │           ├── (14, 0, 0)
│   │           └── (341, 12, 6)
│   ├── (652, 54, 9)
│   │   ├── (293, 10, 5)
│   │   │   ├── (11, 0, 0)
│   │   │   └── (282, 8, 4)
│   │   │       ├── (13, 0, 0)
│   │   │       └── (269, 6, 3)
│   │   ├── (297, 10, 5)
│   │   │   ├── (11, 0, 0)
│   │   │   └── (286, 8, 4)
│   │   │       ├── (13, 0, 0)
│   │   │       └── (273, 6, 3)
│   │   ├── (355, 14, 7)
│   │   │   ├── (3, 0, 0)
│   │   │   └── (352, 12, 6)
│   │   │       ├── (14, 0, 0)
│   │   │       └── (338, 10, 5)
│   │   └── (359, 16, 8)
│   │       ├── (3, 0, 0)
│   │       └── (356, 14, 7)
│   │           ├── (14, 0, 0)
│   │           └── (342, 12, 6)
│   ├── (1305, 230, 14)
│   │   ├── (113, 0, 0)
│   │   ├── (182, 0, 0)
│   │   ├── (1123, 132, 13)
│   │   │   ├── (441, 24, 12)
│   │   │   │   ├── (55, 0, 0)
│   │   │   │   └── (386, 22, 11)
│   │   │   ├── (442, 24, 12)
│   │   │   │   ├── (55, 0, 0)
│   │   │   │   └── (387, 22, 11)
│   │   │   ├── (681, 40, 10)
│   │   │   │   ├── (179, 0, 0)
│   │   │   │   ├── (180, 0, 0)
│   │   │   │   ├── (501, 18, 9)
│   │   │   │   └── (502, 18, 9)
│   │   │   └── (682, 40, 10)
│   │   │       ├── (179, 0, 0)
│   │   │       ├── (180, 0, 0)
│   │   │       ├── (502, 18, 9)
│   │   │       └── (503, 18, 9)
│   │   └── (1192, 94, 13)
│   │       ├── (511, 12, 6)
│   │       │   ├── (55, 0, 0)
│   │       │   └── (456, 10, 5)
│   │       ├── (576, 24, 12)
│   │       │   ├── (55, 0, 0)
│   │       │   └── (521, 22, 11)
│   │       ├── (616, 14, 7)
│   │       │   ├── (179, 0, 0)
│   │       │   └── (437, 12, 6)
│   │       └── (681, 40, 10)
│   │           ├── (179, 0, 0)
│   │           ├── (180, 0, 0)
│   │           ├── (501, 18, 9)
│   │           └── (502, 18, 9)
│   └── (1306, 244, 14)
│       ├── (113, 0, 0)
│       ├── (182, 0, 0)
│       ├── (1124, 132, 13)
│       │   ├── (441, 24, 12)
│       │   │   ├── (55, 0, 0)
│       │   │   └── (386, 22, 11)
│       │   ├── (442, 24, 12)
│       │   │   ├── (55, 0, 0)
│       │   │   └── (387, 22, 11)
│       │   ├── (682, 40, 10)
│       │   │   ├── (179, 0, 0)
│       │   │   ├── (180, 0, 0)
│       │   │   ├── (502, 18, 9)
│       │   │   └── (503, 18, 9)
│       │   └── (683, 40, 10)
│       │       ├── (179, 0, 0)
│       │       ├── (180, 0, 0)
│       │       ├── (503, 18, 9)
│       │       └── (504, 18, 9)
│       └── (1193, 108, 13)
│           ├── (511, 12, 6)
│           │   ├── (55, 0, 0)
│           │   └── (456, 10, 5)
│           ├── (576, 24, 12)
│           │   ├── (55, 0, 0)
│           │   └── (521, 22, 11)
│           ├── (617, 28, 7)
│           │   ├── (179, 0, 0)
│           │   ├── (180, 0, 0)
│           │   ├── (437, 12, 6)
│           │   └── (438, 12, 6)
│           └── (682, 40, 10)
│               ├── (179, 0, 0)
│               ├── (180, 0, 0)
│               ├── (502, 18, 9)
│               └── (503, 18, 9)
└── (1958, 600, 15)
    ├── (651, 54, 9)
    │   ├── (293, 10, 5)
    │   │   ├── (11, 0, 0)
    │   │   └── (282, 8, 4)
    │   │       ├── (13, 0, 0)
    │   │       └── (269, 6, 3)
    │   ├── (297, 10, 5)
    │   │   ├── (11, 0, 0)
    │   │   └── (286, 8, 4)
    │   │       ├── (13, 0, 0)
    │   │       └── (273, 6, 3)
    │   ├── (354, 14, 7)
    │   │   ├── (3, 0, 0)
    │   │   └── (351, 12, 6)
    │   │       ├── (14, 0, 0)
    │   │       └── (337, 10, 5)
    │   └── (358, 16, 8)
    │       ├── (3, 0, 0)
    │       └── (355, 14, 7)
    │           ├── (14, 0, 0)
    │           └── (341, 12, 6)
    ├── (652, 54, 9)
    │   ├── (293, 10, 5)
    │   │   ├── (11, 0, 0)
    │   │   └── (282, 8, 4)
    │   │       ├── (13, 0, 0)
    │   │       └── (269, 6, 3)
    │   ├── (297, 10, 5)
    │   │   ├── (11, 0, 0)
    │   │   └── (286, 8, 4)
    │   │       ├── (13, 0, 0)
    │   │       └── (273, 6, 3)
    │   ├── (355, 14, 7)
    │   │   ├── (3, 0, 0)
    │   │   └── (352, 12, 6)
    │   │       ├── (14, 0, 0)
    │   │       └── (338, 10, 5)
    │   └── (359, 16, 8)
    │       ├── (3, 0, 0)
    │       └── (356, 14, 7)
    │           ├── (14, 0, 0)
    │           └── (342, 12, 6)
    ├── (1306, 244, 14)
    │   ├── (113, 0, 0)
    │   ├── (182, 0, 0)
    │   ├── (1124, 132, 13)
    │   │   ├── (441, 24, 12)
    │   │   │   ├── (55, 0, 0)
    │   │   │   └── (386, 22, 11)
    │   │   ├── (442, 24, 12)
    │   │   │   ├── (55, 0, 0)
    │   │   │   └── (387, 22, 11)
    │   │   ├── (682, 40, 10)
    │   │   │   ├── (180, 0, 0)
    │   │   │   ├── (181, 0, 0)
    │   │   │   ├── (501, 18, 9)
    │   │   │   └── (502, 18, 9)
    │   │   └── (683, 40, 10)
    │   │       ├── (180, 0, 0)
    │   │       ├── (181, 0, 0)
    │   │       ├── (502, 18, 9)
    │   │       └── (503, 18, 9)
    │   └── (1193, 108, 13)
    │       ├── (511, 12, 6)
    │       │   ├── (55, 0, 0)
    │       │   └── (456, 10, 5)
    │       ├── (576, 24, 12)
    │       │   ├── (55, 0, 0)
    │       │   └── (521, 22, 11)
    │       ├── (617, 28, 7)
    │       │   ├── (180, 0, 0)
    │       │   ├── (181, 0, 0)
    │       │   ├── (436, 12, 6)
    │       │   └── (437, 12, 6)
    │       └── (682, 40, 10)
    │           ├── (180, 0, 0)
    │           ├── (181, 0, 0)
    │           ├── (501, 18, 9)
    │           └── (502, 18, 9)
    └── (1307, 244, 14)
        ├── (113, 0, 0)
        ├── (182, 0, 0)
        ├── (1125, 132, 13)
        │   ├── (441, 24, 12)
        │   │   ├── (55, 0, 0)
        │   │   └── (386, 22, 11)
        │   ├── (442, 24, 12)
        │   │   ├── (55, 0, 0)
        │   │   └── (387, 22, 11)
        │   ├── (683, 40, 10)
        │   │   ├── (180, 0, 0)
        │   │   ├── (181, 0, 0)
        │   │   ├── (502, 18, 9)
        │   │   └── (503, 18, 9)
        │   └── (684, 40, 10)
        │       ├── (180, 0, 0)
        │       ├── (181, 0, 0)
        │       ├── (503, 18, 9)
        │       └── (504, 18, 9)
        └── (1194, 108, 13)
            ├── (511, 12, 6)
            │   ├── (55, 0, 0)
            │   └── (456, 10, 5)
            ├── (576, 24, 12)
            │   ├── (55, 0, 0)
            │   └── (521, 22, 11)
            ├── (618, 28, 7)
            │   ├── (180, 0, 0)
            │   ├── (181, 0, 0)
            │   ├── (437, 12, 6)
            │   └── (438, 12, 6)
            └── (683, 40, 10)
                ├── (180, 0, 0)
                ├── (181, 0, 0)
                ├── (502, 18, 9)
                └── (503, 18, 9)

## Run only once to save data from the whole country

In [2]:
print('start data preparation')
t1 = t.time()
USA_vote_2004 = percentage_bush_2004()
t2 = t.time()
print('end data preparation '+ str(t2-t1))
print('number of nodes: '+ str(len(USA_vote_2004)))
USA_vote_2004.to_pickle('../data/USA_vote_2004.pkl')

start data preparation

C:\Users\ngolenvaux\Documents\Doctorat\Regionalization\Regionalization_models\src\data.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2004['bush_votes_perc'] = df_2004['candidatevotes'] / df_2004['totalvotes']

end data preparation 42.52929496765137
number of nodes: 3083

In [3]:
graph = Graph(USA_vote_2004.set_index('county_fips',drop=True),['bush_votes_perc'],talk=True)

start first_order
end first_order 1.4849398136138916
start full_order
end full_order 2108.0296964645386
start sort full order
stop sort full order 0.0

In [4]:
FullO_file = open('../data/USA_vote_2004_FullO.pkl','wb')
pkl.dump(graph.FullO_E,FullO_file)
graph.dist.to_csv('../data/USA_vote_2004_dist.csv')

In [5]:
MST = graph.find_SCT_full_order_CL()#best_k_regions(k,min_regions,z_min,z_max,n_cut,sc)

start MST
stop MST 132.42447018623352
start Tree arch
stop Tree arch 0.4080657958984375

In [6]:
neighbors_file = open('../data/USA_vote_2004_neighbors.pkl','wb')
pkl.dump(graph.SCT.neighbors,neighbors_file)
edges_file = open('../data/USA_vote_2004_edges.pkl','wb')
pkl.dump(graph.SCT.edges,edges_file)

## Run only one for western states

In [28]:
western_states = ['CALIFORNIA','NEVADA','ARIZONA','OREGON','WASHINGTON','NEW MEXICO','MONTANA','IDAHO','WYOMING','UTAH','COLORADO']

In [15]:
print('start data preparation')
t1 = t.time()
western_vote_2004 = percentage_bush_2004(western_states)
t2 = t.time()
print('end data preparation '+ str(t2-t1))
print('number of nodes: '+ str(len(western_vote_2004)))
western_vote_2004.to_pickle('../data/western_vote_2004.pkl')

start data preparation
end data preparation 6.446820020675659
number of nodes: 409

In [13]:
graph = Graph(western_vote_2004.set_index('county_fips',drop=True),['bush_votes_perc'],talk=True)

start first_order
end first_order 0.4517099857330322
start full_order
end full_order 87.65704536437988
start sort full order
stop sort full order 0.21195483207702637

In [14]:
FullO_file = open('../data/western_vote_2004_FullO.pkl','wb')
pkl.dump(graph.FullO_E,FullO_file)
graph.dist.to_csv('../data/western_vote_2004_dist.csv')

In [15]:
MST = graph.find_SCT_full_order_CL()#best_k_regions(k,min_regions,z_min,z_max,n_cut,sc)

start MST
stop MST 11.142862796783447
start Tree arch
stop Tree arch 0.055013179779052734

In [16]:
neighbors_file = open('../data/western_vote_2004_neighbors.pkl','wb')
pkl.dump(graph.SCT.neighbors,neighbors_file)
edges_file = open('../data/western_vote_2004_edges.pkl','wb')
pkl.dump(graph.SCT.edges,edges_file)

## Other

In [30]:
USA_vote_2004 = pd.read_pickle('../data/USA_vote_2004.pkl')
FullO_file = open("../data/USA_vote_2004_FullO.pkl", "rb")
FullO = pkl.load(FullO_file)
dist = pd.read_csv('../data/USA_vote_2004_dist.csv',index_col=0)
dist.columns = dist.columns.astype(int)
neighbors_file = open('../data/USA_vote_2004_neighbors.pkl','rb')
neighbors = pkl.load(neighbors_file)
edges_file = open('../data/USA_vote_2004_edges.pkl','rb')
edges = pkl.load(edges_file)

In [31]:
graph = Graph(USA_vote_2004.set_index('county_fips',drop=True),['bush_votes_perc'],full_order=(FullO,dist))

start first_order
end first_order 2.020354986190796

In [33]:
graph.MST = Tree(graph.vertex,neighbors,edges,0,None)
graph.MST.h = graph.MST.heterogeneity(graph.vertex)

start Tree arch
stop Tree arch 0.11601805686950684

In [4]:
k=10
min_regions= 300
z_min, z_max = 2, 2
n_cut = 1
sc = 5

In [35]:
print('start finding regions')
t1 = t.time()
graph.MST.find_regions(min_regions, z_min, z_max, n_cut, sc)
t2 = t.time()
print('end finding regions ' + str(t2 - t1))

start finding regions
end finding regions 244.71743035316467

In [36]:
res = graph.select_k_regions(k)

start selecting regions
Academic license - for non-commercial use only - expires 2023-01-28
Using license file C:\Users\ngolenvaux\gurobi.lic
Gurobi Optimizer version 9.1.2 build v9.1.2rc0 (win64)
Thread count: 4 physical cores, 8 logical processors, using up to 8 threads
Optimize a model with 3084 rows, 33 columns and 16520 nonzeros
Model fingerprint: 0xc13c0a5d
Variable types: 0 continuous, 33 integer (33 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [8e-03, 5e+01]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 1e+01]
Presolve removed 3076 rows and 14 columns
Presolve time: 0.01s
Presolved: 8 rows, 19 columns, 44 nonzeros
Variable types: 0 continuous, 19 integer (19 binary)
Found heuristic solution: objective 25.6809269
Found heuristic solution: objective 25.4645704

Root relaxation: objective 2.533079e+01, 8 iterations, 0.00 seconds

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

*    0     0               0      25.3307868   25.33079  0.00%     -    0s

Explored 0 nodes (8 simplex iterations) in 0.04 seconds
Thread count was 8 (of 8 available processors)

Solution count 3: 25.3308 25.4646 25.6809

Optimal solution found (tolerance 1.00e-04)
Best objective 2.533078679139e+01, best bound 2.533078679139e+01, gap 0.0000%
end selecting regions 1.024961233139038

In [41]:
print('start redcap')
t1 = t.time()
votes_2004 = pg.open(USA_vote_2004)
w = pg.queen_weights(votes_2004)
res_redcap = pg.redcap(k,w,USA_vote_2004[['bush_votes_perc']],"fullorder-completelinkage")
t2 = t.time()
print('end redcap '+ str(t2-t1))
clusters_r = {}
for i, c in enumerate(res_redcap['Clusters']):
    if c in clusters_r:
        clusters_r[c] += [USA_vote_2004.loc[i,'FIPS']]
    else:
        clusters_r[c] = [USA_vote_2004.loc[i, 'FIPS']]
h_r = [graph.MST.heterogeneity(clusters_r[i]) for i in clusters_r.keys()]
print('redcap total heterogeneity : ', sum(h_r))

start redcap
end redcap 0.7801389694213867
redcap total heterogeneity :  21.53039473787621

In [52]:
len(neighbors)

3083

In [21]:
dist.columns

Int64Index([27077, 53019, 53065, 53047, 53051, 16021, 30053, 30029, 30035,
            30101,
            ...
            51175, 51083, 51163, 51161, 55083,  4012, 35006, 51199, 51153,
            30031],
           dtype='int64', length=3083)

In [20]:
dist.columns = dist.columns.astype(int)